<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
    <ion-list-header>
        <ion-label>Search</ion-label>
    </ion-list-header>
    <ion-grid>
        <ion-row>
            <ion-col>
                <mat-label>Brand</mat-label>
                <input type="text" placeholder="Pick brand" aria-label="text" matInput [matAutocomplete]="brand"
                    [(ngModel)]='criteria.brand' name="brand">
                <mat-autocomplete autoActiveFirstOption #brand="matAutocomplete">
                    <mat-option *ngFor="let option of brandsList" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </ion-col>
            <ion-col>
                <mat-label>Model</mat-label>
                <input type="text" placeholder="Pick model" aria-label="text" matInput [matAutocomplete]="model"
                    [(ngModel)]='criteria.model' name="model">
                <mat-autocomplete autoActiveFirstOption #model="matAutocomplete">
                    <mat-option *ngFor="let option of modelList" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </ion-col>
            <ion-col>
                <mat-label>Price</mat-label>
                <input type="number" placeholder="Pick one" aria-label="Price" [(ngModel)]='criteria.price'
                    name="price">


            </ion-col>
        </ion-row>
        <ion-row style="align-content:flex-end">
            <ion-col></ion-col>
            <ion-col></ion-col>
            <ion-col>
                <ion-button type="submit">Search</ion-button>
            </ion-col>

        </ion-row>
    </ion-grid>
</form>